@model IEnumerable<Web.ViewModels.PortofolioItemViewModel>

@{
    ViewData["Title"] = "ShowPortofolioItems";
}

<h1>ShowPortofolioItems</h1>

<p>
    <a asp-action="CreatePortofolioItem">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="~/img/portfolio/@item.ImageFile" style="height:50px;width:50px" />
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPortofolioItem", new {  id=item.ItemId  }) |
                @Html.ActionLink("Details", "PortofolioItemDetails", new {  id=item.ItemId }) |
                @Html.ActionLink("Delete", "DeletePortofolioIteme", new {  id=item.ItemId })
            </td>
        </tr>
}
    </tbody>
</table>
